.right_title{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-left: 11px;
    margin-top: 7px;
    margin-bottom: 4px;
}

hr{
    content: '';
    display: block;
    margin-top: 1px;
    border-top: 1px solid rgb(218, 69, 124);
    border-bottom: 1px solid rgb(218, 69, 124);
    width: 100%;

}


.main_button{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    margin-top: 140px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 12px;
   
    background-color: rgb(255, 227, 237);
    border-top: rgb(255, 128, 174);
}

.delete_button, .write_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(123,75,194);
    
    margin-right: 10px;
    width: 62px;
    height: 20px;
    background-color: rgb(233, 218, 253);
    border: 1px solid rgb(123,75,194);
    border-radius: 3px;
}

.write_button{
    width: 100px;
}
.home_img{
    all: unset;

  width: 103px;
  height: 100px;
}
.main_post{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 115px;
    height: 130px;
}

.post_row{
    display: flex;
    flex-direction: row;  
}

.post_row > h4{
    all: unset;
    font-size: 11px;
    color:rgb(160, 160, 160);
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
}

.list_post{
    display: flex;
    flex-direction: row;
    margin-left: 37px;
    width: 386px;
    height: 125px;
    flex-wrap: wrap;
}