{% extends 'base.html' %} 

{% block content %} 
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
  </head>
  <body>
<table border="1">
    <tr>
        <td colspan="5">제목</td>
        <td colspan="7">{{blog.title}}</td>
    </tr>
    <tr>
        <td colspan="3">글쓴이</td>
        <td colspan="4">{{blog.writer}}</td>

        <td colspan="3">작성일</td>
        <td colspan="3">{{blog.pub_date}}</td>
    </tr>
</table>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">{{blog.title}}</h2>
        <p class="little">{{blog.writer}} &ensp;{{blog.pub_date}}</p>
         {% if blog.image %}
    <img src="{{blog.image.url}}" alt="" class="detail_img">
    {% endif %}
        <p>{{blog.body}}</p>


      </div>
    </div>
  </div>
</article>
</body>
{% endblock %}
